*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.form {
    max-width: 550px;
    margin: 0px auto;
    color: #fff;
    padding: 20px 0;
}
.form * {
    outline: none;
}
.form__body {
    position: relative;
}
.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url('img/loading.gif') center / 100px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}
.form__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.form__item {
    margin: 0px 0px 20px 0px;
}
.form__label {
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}
.form__input {
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
}
.form__input:focus {
    box-shadow: 0 0 20px #7a956b;
}
.form__input._error{
    box-shadow: 0 0 20px red;
}
textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
.options {
    padding: 10px 0px 0px 0px;
}
.options__item {
    margin: 0px 0px 10px 0px;
}
.options__input {
    display: none;
}


.options__input:checked + .options__label::after{
    transform: scale(1);
}


.options__label {
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.options__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}
.options__label::after {
    transition: transform 0.4s ease 0s;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #7a956b;
    border-radius: 50%;
    transform: scale(0);
}
.select {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 0px 15px;
    cursor: pointer;
}
.file__item {
    position: relative;
}
.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}
.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #77608d;
    padding: 0px 20px;
}
.file__preview {
    display: inline-block;
    max-width: 100px;
}
.file__preview img {
    max-width: 100%;
    padding: 10px 0px 0px 0px;
}
.checkbox._error .checkbox__label::before {
    box-shadow: 0 0 20px red;
}
.checkbox__input {
    display: none;
}
.checkbox__input:checked + .checkbox__label::after{
    transform: scale(1);
}
.checkbox__label {
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.checkbox__label::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
    transition: transform 0.5s ease 0s;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #7a956b;
    border-radius: 4px;
    transform: scale(0);
}
.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #7a956b;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #161b13;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}
.form__button:hover {
    background-color: #4f6146;
}
.form__button:active {
    top: 3px;
    box-shadow: 0 2 px 0 #161b13;
}